<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>
	<section class="p-4">
		<a class="ml-3 mr-5 btn" href="/funcionarios/pages/novo-funcionario.html">Cadastrar Funcionário</a>
		<a class="btn" href="/funcionarios/pages/novo-setor.html">Cadastrar Setor</a>
		<div id="inicio" class="container-fluid table mt-4" >
			<h4>Lista dos Funcionários</h4>
			<table>
			  <tr>
				<th>Nome</th>
				<th>Setor</th>
				<th>Salário</th>
				<th>Email</th>
				<th>Idade</th>
				<th></th>
				<th></th>
			  </tr>
			  <tbody id="event-table" >
				<tr v-for="funcionario in lista" :key="funcionario.id">
				  <td>{{ funcionario.nome }}</td> 
				  <td>{{ funcionario.setor.nome }}</td> 
				  <td>{{ funcionario.salario }}</td> 
				  <td>{{ funcionario.email }}</td> 
				  <td>{{ funcionario.idade }}</td>
				  <td><span @click="editarFuncionario(funcionario)">&#9998;</span>
					<span  @click="excluirFuncionario(funcionario.id)">&#10006;</span>
				  </td>
				</tr>
			  </tbody>
			</table>
		  </div>
	</section>
	
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>